*{
  font-family: sans-serif;
}
.postsContainer {
  width: 45%;

  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border:1px solid red; */
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .postsContainer {
    width: 80%;
  }
}

.postsContain1 {
  margin-top: 1vh;
  overflow-y: scroll;
  /* overflow-y: scroll; */
  width: 99%;
  height: 75vh;
  /* border:1px solid blue; */
}
a {
  text-decoration: none;
}
.cardDiv {
  /* margin-top: 15vh; */
  width: 99%;
  margin-top: 2%;
  /* border:1px solid green; */
}
.postHeader {
  display: flex;
  margin-top: 8%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
  align-items: center;
  /* border:1px solid blue; */
}
.nameAndProfile {
  width: 80%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  gap: 5%;
  /* border:1px solid green; */
}
.postProfilePicture {
  width: 14%;
  height: 100%;
  border-radius: 50%;
}
.mainImageBox {
  width: 90%;
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: auto;
  /* border: 1px solid blue; */
}
.postImageBox {
  width: 99%;
  height: 90%;
  padding: 0;
  margin: auto;
  /* border: 1px solid red; */
}
.bottomBoxOfPost {
  width: 98.8%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border-top: 0.2vw solid gray;
  border-bottom: 0.2vw solid gray;
  /* border-radius: 0.5vw; */
}
.heartIcon {
  width: 33%;
  border-right: 1px solid gray;
}

.titleBox {
  display: flex;
  margin-top: 2vh;
  padding-top: 5%;
  padding-left: 5%;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  /* border: 1px solid blue; */
}
.headInputBox {
  width: 92%;
  margin-top: 5%;
  color: black;
  text-align: left;
  margin-left: 2%;
  padding-left: 3%;
  border-radius: 0.5vw;
  border: 1px solid blue;
}
.headInput {
  width: 95%;
  height: 9vh;
  border: none;
  outline: none;
}
.bottomBox {
  width: 99.2%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 0.2vw solid blue;
  border-radius: 0.5vw;
}
.homeIcon {
  width: 50%;
  border-right: 1px solid gray;
}
.personIcon {
  width: 50%;
  border-left: 1px solid gray;
}
.rectBox {
  position: relative;
  display: flex;
  left: -20px;
  top: -.5px;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  height: 47px;
  width: 47px;
  background-color: rgb(177, 166, 166);
  border-radius: 50%;
  /* border: 1px solid blue; */
}
input[type="checkbox"]:checked {
  background-color: #1976d2;
}
.heartcon {
  position: absolute;

  color: white;
}
.nameTimeDiv{
  height: 10vh;
  display: flex;
  line-height: 0px;
  flex-direction: column;
  /* border: 1px solid blue; */
  align-items: flex-start;
}
