.container {
  width: 39%;

  height: 95vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border:1px solid red; */
  padding-bottom: 2%;
  margin: auto;
}
.buttonBox {
  width: 85%;
  height: 10vh;
}
.imageBox {
  margin-top: 30%;
  margin-bottom: 10vh;
  width: 70%;
  height: 25%;
  margin-left: 15%;
  /* border:1px solid red; */
}
.contain1 {
  margin-top: 2vh;
  width: 99%;

  border: 1px solid transparent;
}
